*{margin:0; padding: 0; outline: 0;}
body{

	background: #fafafa !important;
}
.clear{
	overflow: hidden;
}
.navbar-form{

	padding-top: 10px;
}
/*.upper{
	border: 1px solid black
	padding-right: 40px;
}*/
/*.navbar{
	background: #FFFFFF;
}*/
/*.nav{
	top: -20px;
}*/
/*.navbar{
	height: 110px;
}*/
.right{
	float: right;
}
.dropdown{

	padding-right: 15px;
}
.media-body{
	padding-top: 5px;
}
/*.container .navbar #icon{

	float: left;
	background: #F8F8F8 !important;
	margin-left: 10px;
}*/


/*.upper{

	margin-top: 0px;
	margin-bottom: 5px;
	margin-right: -190px;
	margin-left: -60px;
}*/
.navbar{
	position: fixed;
	background: #ffffff;
	background: #455a64;
	padding-bottom: 0px !important;
}
.border{
	border-top: 1px solid;
	margin-top: 15px;
}
.sleek .navbar{
	/*position: fixed;*/
	background: #ffffff;
	-moz-transition:all .5s ease; transition:all .1s ease;
	margin-top: -58px;
	background: #455a64;
}

/*.content{
	position:absolute;
}*/

.nav .nav-item p{
	color: white;
}
h3{
	color: white;
}
.nav-item .hidden-sm-down{
	color: white;
}
.nav-item i{
	color: white;
}
/*.form-inline form-control{
	color: white;
}

.navbar form input{
	margin: 0px 20px 1px 8px;
}

.form-inline .form-control{

	margin-top: -8px;
	margin-right: 22px;
}*/
.dropdown i{

	color: white;
}

/*nav heading customize*/
h3{
	margin-top: 10px;
}
/*close nav heading */

.navbar{
	padding-bottom: 5px;
	padding-top: 5px;
}
/* customize the navbar-brand*/
.navbar-brand p{

	margin-top: -15px;
}
/*close the navbar-brand */

.col-md-8{
	/*border: 1px solid black;*/
	margin-right: 10px;
	margin-left: 20px;
}
.col-md-3{
	/*border: 1px solid black;*/
	margin-left: 20px;
	margin-top: 15px;
}
.col-md-3 .topposts h3{
	font-size: 20px;
	font-weight: bold;
	color: black;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
	margin-bottom: 15px;

}
.col-md-3 .topposts ul{
	font-size: 14px;
	color: #6e6e6e;
	line-height: 20px;
	font-family: normal;

}
.col-md-3 .topposts ul li {

	padding-bottom: 20px;
	/*border-bottom: 1px solid #ccc;*/
}

.col-md-3 .topposts .total:first-child{

	margin-bottom: 15px;

}

.col-md-3 .topposts .rightname a li{
	float: left;
	font-size: 14px;
}

.col-md-3 .topposts .name p{
	margin-top: -16px;
	margin-bottom: 15px;
	color: 
}

.col-md-3 .topposts .leftimage img{

	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
	margin-top: 0px;
}

.col-md-3 .catagories{

	margin-top: 25px;
}


.col-md-3 .catagories h3{
	font-size: 20px;
	font-weight: bold;
	color: black;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
}

.col-md-3 .catagories ul{
	font-size: 14px;
	color: #6e6e6e;
	line-height: 20px;
	font-family: normal;

}

.col-md-3 .catagories ul li {

	padding-bottom: 10px;
	/*border-bottom: 1px solid #ccc;*/	
}
.col-md-3 .catagories .button .btn{

	margin-left: 165px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 25px;
	background: #00d255 !important;
}

.col-md-3 .contributor h3{
	font-size: 20px;
	font-weight: bold;
	color: black;
	border-bottom: 1px solid #999;
	padding-bottom: 10px;
}

.footer{

	margin-top: 30px;
	text-align: center;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
}
.col-md-3 .contributor .totalcontsection .leftimage img{

	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
	margin-top: -12px;
}
.col-md-3 .contributor .totalcontsection .rightname h4{
	padding-bottom: 8px;
	margin-top: 30px;
	color: #7D6B86;
	font-size: 18px;
	font-family: georgia;
}
.col-md-3 .contributor .totalcontsection{

	margin-bottom: 15px;
}

.col-md-8{

	/*margin-top: 45px;*/

}

.card{

	padding-bottom: 15px;
	margin-top: 30px;
	padding-top: 0px;
	padding-right: 8px;
	padding-left: 8px;
	background-color: #ffffff;
	box-shadow: 0px 1px 3px 2px #ccc;
}

.card .img-circle{

	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	border-top-right-radius: 100%;
	border-top-left-radius: 100%;
}

/*.card-wrapper .card-rotating .face .img-circle{
  	
  	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	border-top-right-radius: 100%;
	border-top-left-radius: 100%;


}*/
.padding-top-130{
	padding-top: 90px;
}

.cardfooter{

	text-align: right;
	margin-right: 20px;
	margin-top: -10px;
}

.cardfooter .btn{

	/*border-radius: 25px;*/
	/*background: #00d255 !important;*/

}

/*For Rating*/

/*End rating section*/

.rating .fa-star-o{

	margin-left: 20px;
	font-size: 17px;
}
.likebutton p{
	float: right;
	margin-right: 20px;
	margin-top: -14px;
	font-weight: normal;
}

.likebutton .fa-bookmark{

	float: right;
	font-size: 25px;
	margin-right: 10px;
	margin-top: -18px;
}
.card .multiplecard{

	margin-bottom: 10px;
}

.form-inline{

	margin-right: -20px;
	margin-top: 10px;
}
.form{

	margin-right: -190px;
}

.post{

	margin-top: 30px;
	box-shadow: 1px 1px 1px 1px #ccc;
}

.col-md-8 .post .panel-footer .btn{

	float: right;
}

.col-md-8 .post .panel-footer .form-group .btn-group{

	margin-top: 5px;
}

input, label {
    display: block;
    /*width: 80px;*/
}

input[type=file]::-webkit-file-upload-button {
    border: 1px solid grey;
    background: #FFFAAA;
}

.message {
    border-radius: 0;
    border: show;
}
.panel {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}
.panel-body{

	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 0px;
	padding-right: 15px;
}
.col-md-8 .post .panel-footer button{

	margin-top: -5px;
}
.collapse .dropdown .img-circle{

	width: 40px;
	height: 40px;
	margin-top: -12px;
}

.col-md-3 .card-wrapper{

	margin-top: 70px;
}

.setcard{

	margin-top: 80px;
}

.card-wrapper .avatar{

	margin: -50px auto 0;
	margin-left: 140px;
	width: 80px;
	height: 120px;
}

.col-md-4{

	margin-top: 50px;
}

.col-md-4 .card-block h3{

	margin-top: 10px;
}

.testimonial-card .avatar img{
	width: 80%;
}

.testimonial-card .avatar{
	width: 110px;
	margin: -110px auto 0;
	float: left;
}

.card-up .right{
	float: left;
	padding-top: 15px;
}

.card-up{

	overflow: hidden;
	height: 120px;
	margin-left: 110px;
}

.card-up .card-title{

	font-weight: bold;
}

.card-up .author{

	font-size: 16px;
}

.card-up .time{

	font-weight: normal;
}

.card-block p{

	font-weight: normal;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 25px;
	text-align: left;
}

.card-block{

	margin-top: -10px;
}
.card-wrapper .avatar img{
	margin-top: 5px;
}

/*comment section*/

.cardfooter .group .input{

	padding:0px 15px;
	border-radius:5px;
	width: 94%;
	background: #f6f6f6;
	color: black;
	margin-left: 20px;
	font-weight: normal;
	margin-top: 30px;
	box-shadow: 0px 1px 2px 0px gray;
	margin-bottom: 5px;
}

.cardfooter .buttonright .btn{

	margin-left: 590px;
	margin-bottom: 20px;
	border-radius: 5px;
}


/*search form*/

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
 /* background-color: #000;*/
/*  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 90%;
  border-radius: 25px 25px 25px 25px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: white;
  left: initial;
  font-size: 14px;
}

.search-form{

	padding-top: 9px;
	padding-right: 10px;
	box-shadow: none;
}

.search-form .form-control{

	color:white;
}


/*close search form*/


/*dropdown menu close*/
.collapse .navbar-nav .dropdown{

	margin-right: -20px;
}
/*end the process of dropdown manu close*/

/*panel section for userprofile*/

.panel-body .col-md-3 img{

	max-width: 60%;
	margin-bottom: 12px;
}

.panel-body .col-sm-3 img{

	max-width: 55%;
	margin-bottom: 12px;
}

/*end panel section for userprofile*/

/*form for password*/

.col-md-12 input[type=password]{

	font-weight: normal;
}
.categories ul a .label{

	display: block;
}

/*for about us page*/

.card {
    border: 0;
}
.card-wrapper {
    margin: .5rem 0 1rem;
    height: 500px;
    position: relative;
    perspective: 800px;
}
.card-wrapper .card-rotating {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.card-wrapper .face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.card-wrapper .back, .card-wrapper .front {
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;
}
.card-wrapper .back, .card-wrapper .front, .pswp, .pswp__bg, .pswp__container, .pswp__img--placeholder, .pswp__share-modal, .pswp__share-tooltip, .pswp__zoom-wrap {
    -webkit-backface-visibility: hidden;
}
.card-wrapper .card-up {
    overflow: hidden;
    height: 50%;
}
/*.card img, .comments-list img, .img-fluid, .reply-form img, .section .view, .section img {
    display: block;
    max-width: 100%;
    height: auto;
}*/
/*.card-wrapper .card-up img {
    min-width: 400px;
}*/
.card-wrapper .avatar {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -65px auto 0;
    overflow: hidden;
    width: 120px;
}
.card-wrapper .avatar img {
    border: 5px solid #fff;
    background: #FFF;
    width: 40%;
    position: absolute;
}
.card-wrapper .face h4 {
    margin-bottom: 15px;
}
.card-block p {
    margin-bottom: 1rem;
}
.card-wrapper .back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    padding: 1rem;
}
.card-wrapper .card-rotating.effect__click.flipped .front{-webkit-transform:rotateY(180deg);transform:rotateY(180deg)}
.card-wrapper .card-rotating.effect__click.flipped .back{-webkit-transform:rotateY(0);transform:rotateY(0)}

.card-upper{

	width:100%;
	margin:auto;
	max-width:525px;
	min-height:250px;
	position:relative;
	background:url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2859%29.jpg) no-repeat center;
}

.card-up-down{

	width:100%;
	margin:auto;
	max-width:1000px;
	min-height:120px;
	position:relative;
}

.testimonial-card-1 .avatar img{

    width: 15%;
    position: absolute;
    background: #fff;
    vertical-align: middle;
    border: 5px solid #fff;
    margin-top: -50px;
    margin-left: 40%;
}

.testimonial-card-1 .card-up-down{

	overflow: hidden;
}

.testimonial-card-1 .card-block-1{

	text-align: center;
	margin-top: 12%;
}
